[submodule "extern/googletest"]
	path = extern/googletest
	url = ../../google/googletest.git
[submodule "extern/sanitizers"]
	path = extern/sanitizers
	url = ../../arsenm/sanitizers-cmake
[submodule "extern/json"]
	path = extern/json
	url = ../../nlohmann/json.git
[submodule "CLI11"]
	path = CLI11
	url = https://github.com/miscott/CLI11.git
